* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Pacifico", cursive;
  background-image: url("./src/img/wallpaper-1920x1080.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  height: 100vh;
  display: flex;
  gap: 26px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    font-size: 66px;
  }
  &__text {
    color: gray;
    font-size: 20px;
  }
  &__link {
    text-decoration: none;
    color: rgb(164, 165, 242);
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: blue;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__input {
    border: none;
    font-size: 26px;
    box-shadow: rgb(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
    padding: 10px;
  }

  &__button {
    font-size: 36px;
    margin-top: 70px;
    position: absolute;
    font-family: "Pacifico", cursive;
    width: 175px;
    height: 60px;
    border: none;
    background-color: white;
    box-shadow: rgb(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
    outline: none;
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      background-color: #f7e8e5;
      cursor: pointer;
    }
  }
}
